/*
    Document   : admin
    Created on : 23.11.2011, 20:31:24
    Author     : Kemal
    Description:
        Purpose of the stylesheet follows.
*/

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {
    margin:0;
    padding:0;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
fieldset,img {
    border:0;
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-style:normal;
    font-weight:normal;
}
ol,ul {
    list-style:none;
}
caption,th {
    text-align:left;
}
h1,h2,h3,h4,h5,h6 {
    font-size:100%;
    font-weight:normal;
}
q:before,q:after {
    content:'';
}
abbr,acronym {
    border:0;
}
input[type="submit"],
input[type="button"] {
    cursor: pointer;
}
/*
    Global styles
*/

.red {
    color: red;
}
.green {
    color: green;
}
.yellow {
    color: #FFE680;
}

/*
    End of Global styles
*/


#container {
    width: 1000px;
    margin: 0 auto;
}

#menu {
	margin:5px 0 0 0;
	border-radius:20px 20px 0 0;
    width: 100%;
    height: 33px;
    background: #44b3d7;
}

ul.menu {
    margin: 0 0 0 0px;
}

ul.menu li {
    float: left;
	position:relative;
}

.first-item:hover{border-radius:20px 0 0 0;}

ul.menu li a {
    display: block;
    color: #FFF;
    padding: 5px 30px 8px;
    text-decoration: none;
}

ul.menu li a:hover {
    background: #3695b4;
}

ul.menu li:hover ul.submenu {
    display: block;
	
}

ul.menu li ul.submenu {
    position: absolute;
    top: 33px;
	left:10px;
    display: none;
}

ul.menu li ul li{
	float:none !important;
}

ul.menu li ul.submenu li a{
    color: #fff;
    padding: 3px 15px;
    background: #44b3d7;
}

ul.menu li ul.submenu li a:hover {
    color: #FFF;
    background: #3695b4;
}

#content {
    border: 1px solid #44b3d7;
	border-radius: 0 0 20px 20px;
	border-top:none;
    min-height: 400px;
    height: auto !important;
    height: 400px;
    padding: 10px 20px;
	background:#e8f3f8; 
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	font-size:14px;
}

#content h1 {
	padding: 5px 0 0;
    font-size: 18px;
    font-weight: bold;
	color:#565758;
}
#content h3 {
    font-size: 17px;
    font-weight: bold;
}
#content table {
    width: 100%;
}
#content table thead {
    background: #44b3d7;
	color:#333839;
}


#content  a{
	color:#4946cd;
	padding:3px 0;
	text-decoration:none;
}

#content table thead th,
#content table td {
    border: 3px solid #FFF;
    padding: 2px 10px;
}
#content table tbody {
    background: #EEE;
}
#content table td.pager {
    text-align: center;
}
#content .error {
    color: red;
    font-size: 12px;
}

/** Forms */
#content .title-label {
    font-weight: bold;
}

/** Single Upload Files */
#img-container .progress {
    width: 100px;
}

/** Object gallery upload images */
#edit-gallery li {
    float: left;
    margin-right: 5px;
    margin-bottom: 5px;
    position: relative;
}
#edit-gallery li:last{
    margin-right: 0;
}
#edit-gallery li .remove {
    color: red;
    font-size: 11px;
    margin-left: 22px;
}
#edit-gallery li div {
    height: 90px;
    overflow: hidden;
}
#edit-gallery li img {
    cursor: move;
}
#edit-gallery li progress {
    width: 120px;
    display: block;
}

/** Messages */
.message-box {
    border: 1px solid;
    margin: 10px 0px;
    padding:10px 10px 10px 10px;
    background-repeat: no-repeat;
    background-position: 10px center;
}

#success_msg {
    color: #4F8A10;
    background-color: #DFF2BF;
}
#info_msg {
    color: #00529B;
    background-color: #BDE5F8;
}
#warning_msg {
    color: #9F6000;
    background-color: #FEEFB3;
}
#error_msg {
    color: #D8000C;
    background-color: #FFBABA;
}

.clear {
    clear: both;
}

.select-all{background: #44b3d7;}

.button{
	width:120px;
	text-align:center;
	line-height:20px;
	vertical-align:middle;
	margin:0 0 15px 10px;
	display:block;
	background:#44b3d7;
	border-radius:5px;
	color:#fff !important;
	float:right;
}

.button:hover {
	background:#3695b4;
}
