/* 
    Document   : objects
    Created on : 01.05.2012, 16:15:34
    Author     : Kemal
    Description:
        Purpose of the stylesheet follows.
*/

/******* List of Hotels *******/

.obj-item {
    clear: both;
    margin: 0 0 15px 0;
}
.obj-item .title-wrap {
    padding: 5px 0 10px 0;
}
.obj-item .title-wrap .title {
    font-size: 20px;
    font-weight: bold;
}
.obj-item .title-wrap .resort {
    font-size: 16px;
    font-weight: bold;
}
.obj-item .img-wrap {
    width: 160px;
    float: left;
}
.obj-item .img-wrap img.current {
    width: 160px;
    display: block;
}
.obj-item .img-wrap .small-thumbs {
}
.obj-item .img-wrap .small-thumbs li {
    float: left;
    margin: 3px 0 0 4px;
    padding: 0;
}
.obj-item .img-wrap .small-thumbs li:first-child {
    margin-left: 0;
}
.obj-item .img-wrap .small-thumbs li img {
    width: 37px;
}
.obj-item .content-wrap {
    margin-left: 160px;
}
.obj-item .content-wrap .icons-wrap {
    height: 25px;
/*    border: 1px solid #CCC;*/
}
.obj-item .content-wrap .icons-wrap ul {
    margin-left: 5px;
}
.obj-item .content-wrap .icons-wrap li {
    float: left;
/*    border: 1px solid #CCC;*/
    width: 20px;
    height: 20px;
    margin: 1px 6px 0 0;
    border-radius: 5px;
    background: #f0eae8;
}
.obj-item .content-wrap .middle-wrap {
    height: 102px;
    overflow: hidden;
}
.obj-item .content-wrap .middle-wrap .col {
/*    border: 1px solid #CCC;*/
}
.obj-item .content-wrap .middle-wrap .info {
    width: 140px;
    float: left;
    font-size: 12px;
    color: #666;
    padding: 5px;
}
.obj-item .content-wrap .middle-wrap .info .row {
    margin: 0 0 5px 0;
}
.obj-item .content-wrap .middle-wrap .desc {
    float: left;
    padding: 5px;
    width: 304px;
    line-height: 16px;
}
.obj-item .content-wrap .middle-wrap .desc .title {
    font-weight: bold;
}
.obj-item .content-wrap .middle-wrap .price {
    width: 90px;
    float: right;
    padding: 5px;
}
.obj-item .content-wrap .bottom-wrap {
    height: 20px;
/*    border: 1px solid #CCC;    */
}
.obj-item .content-wrap .bottom-wrap .more {
    float: right;
    margin-right: 5px;
}