body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {
    margin:0;
    padding:0;
}
table {
    border-collapse: collapse;
    border-spacing:0;
}
fieldset,img {
    border:0;
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-style:normal;
    font-weight:normal;
}
ol,ul {
    list-style:none;
}
caption,th {
    text-align:left;
}
h1,h2,h3,h4,h5,h6 {
    font-size:100%;
    font-weight:bold;
}
h1 {font-size: 24px;}
h2 {font-size: 21px;}
h3 {font-size: 18px;}
h4 {font-size: 16px;}
a {
    color: #00529B;
}
a:hover {
    text-decoration: none;
}
q:before,q:after {
    content:'';
}
abbr,acronym {
    border:0;
}
input[type="submit"],
input[type="button"] {
    cursor: pointer;
}

#wrapper {
    width: 1000px;
    margin: 0 auto;
    font-size: 14px;
}


/* Header
-----------------------------------------------------------------------------*/
#header {
    height: 150px;
    background-color: #B5E3FF;
}


/* Middle
-----------------------------------------------------------------------------*/
#middle {
    width: 100%;
    height: 1%;
    position: relative;
}
#middle:after {
    content: '.';
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
}
#container {
    width: 100%;
    float: left;
    overflow: hidden;
}
#content {
    padding: 0 0 0 270px;
}

/* Sidebar Left
-----------------------------------------------------------------------------*/
#sideLeft {
    float: left;
    width: 250px;
    margin-left: -100%;
    position: relative;
    background: #efefef;
}

/* Footer
-----------------------------------------------------------------------------*/
#footer {
    height: 100px;
    background: #BFF08E;
}

/* Глобальные классы
-----------------------------------------------------------------------------*/
.success {
    color: green;
}
.error {
    color: red;
}
.clear {
    clear: both;
}

/* Контент главной страницы */
#content .filter-column {
    width: 50%;
    float: left;
}

#objects-column {
    
}

#articles-column {
    
}

/* Контент */
.content ul {
    list-style: none;
}
.content .field-label {
    font-weight: bold;
}
.content .content-items {
    margin: 0 0 10px 0;
}
.content .content-items p {
    margin: 0;
}

/* Форма фильтров */
#filters-form .filters-title {
    display: block;
}
#filters-form .small-map {
    cursor: pointer;
    display: block;
    width: 209px;
    height: 136px;
    background: url(images/crimea.jpg) 0 0 no-repeat;
}
#filters-form #slider-price-range {
    height: 5px;
    margin: 10px 5px 5px 5px;
    background: #FFF;
}
#filters-form #slider-price-range .ui-slider-handle {
    width: 6px;
    height: 15px;
    cursor: pointer;
    margin: 0 0 0 -4px;
    background: #4F8A10;
    top: -.4em;
    border-radius: 3px;
    behavior: url(/PIE.php);
}
#filters-form #slider-price-range .ui-state-default {
    border: 1px solid #333;
}
#filters-form #slider-price-range .ui-widget-header {
    background: #189DE1;
}
#filters-form .filters-box div {
    position: relative;
}
#filters-form .program-submit {
    display: block;
    position: absolute;
    right: 0px;
    top: 0;
    margin: -3px 0 0 0;
    border: 1px solid #16960B;
    padding: 3px 7px;
    background: #FFF;
    border-radius: 3px;
}

/* Карта Крыма */
#crimea-map {
    width: 800px;
    height: 350px;
    padding: 0;
    margin: 0;
}
#crimea-map .map {
    width: 450px;
    border: 1px solid #999;
    height: 100%;
    float: left;
    position: relative;
}
#crimea-map .map .resort-label {
    display: block;
    width: 12px;
    height: 12px;
    border: 1px solid #333;
    cursor: pointer;
    background: #4F8A10;
/*    border-radius: 8px;*/
    margin: 5px;
    behavior: url(/PIE.php);
}
#crimea-map .map .resort-label:hover {
    background: #cd0a0a;
}
#crimea-map .map .resort-tooltip {
    position: absolute;
    font-size: 12px;
}
#crimea-map .map .checked-label {
    background: #cd0a0a;
}
#crimea-map .map #label-yalta {
    left: 200px;
    top: 25px;
}
#crimea-map .resorts ul {
    position: relative;
    list-style: none;
    left: 15px;
    top: 10px;
}
#crimea-map .resorts ul li {
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline;
    width: 110px;
    margin: 0;
    padding: 0;
}
#crimea-map .resorts .buttons {
    position: relative;
    margin: 20px 0 0 15px;
    left: 15px;
}
